---
---

<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    {% include header.html %}
    
    {% include article.html %}
    
    {% include section.html %}
    
    {% include footer.html %}
    
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script>
$(document).ready(function() {
    //fade in name container on page load
    $('.name_container').hide().fadeIn(3000);
        
        //slide down article on scroll
        $(window).scroll(function(){                          
            if ($(this).scrollTop() > 350) {
                $('article').slideDown(800);
            } else {
                $('article').slideUp(1000);
            }
        });
    
    // fade out name_container on scroll
        $(window).scroll(function(){
    $('.name_container').css('opacity', 1 - $(window).scrollTop() / 250);
  });
});
    </script>
</body>
</html>