<article name="contact">
    <div class="profile_container"><img class="profile" src="../img/profile_photo.jpg" width="200px" height="200px"></div>
        <p class="article_p">&nbsp;Aspiring web developer based in <span class="location">Corona, California.</span> I'm a self-taught front-end developer looking to expand my knowledge in front and back end development. I aim to improve my development capabilities to deliver quality services and design.
    <br>
    <h1> What I do: </h1>
        <p> A confident developer and pianist. I'm on my Mac 80% of the day researching how I can become a better designer and developer while enjoying playlists full of classicals. The perfect combination. </p>
    <br>
    <h1> Why I love it: </h1>
        <p> I enjoy putting things together, my previous goal was to become an engineer. Later, I discovered coding and how I have the ability to build things through it allowing others to view and use what I develop. As a designer, art has always run in the family. If something doesn\'t stand out, I'll know.</p>
    <br>
        <p>I also have to thank coffee for contributing to my research.</p>
</article>
