<footer>
    <h1 class="footer_h">Interested?</h1>
    
    <form action="https://formspree.io/rdettmerdesigns@gmail.com"
      method="POST">
        
    <input type="hidden" name="_next" value="https://trace751.github.io/ramdettmer/thanks.html" />
        
    <label>Your Name:</label>
    <input type="text" name="name">
        
    <label>Your Email</label>
    <input type="email" name="_replyto">
        
    <label>Your Message</label>
    <textarea name="message" rows="5"></textarea>
    
    <input type="submit" value="Send" class="submit_btn">
</form>
     
    <p class="copyright">copyright ramdettmer 2017</p>
</footer>