<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal website for Ram Dettmer - a web developer enthusiast. Take a look at my website for more information">
    <title>Ram Dettmer | Web design/developer in Inland Empire, Corona - Personal portfolio</title>
    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/5ddaf60ec6.js"></script>
</head>
