.info_head {
padding-top: 25px;
}

.article_p {
    line-height: -5em;
    font-size: 1.5em;
}

article {
    padding: 50px 20px;
    display: none;
}

.location {
    color: #d4a867;
    font-size: 2em;
}

.profile {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.profile_container {
    width: 100%;
    margin: 50px 0;

}

@media screen and (max-width: 620px){
    .profile {
        display: block;
        margin: 0 auto;
    }
}
