footer {
    background-color: #EEEEEE;
}

.copyright {
    text-align: center;
}

.footer_h {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
    color: #d4a867;
}

form {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
}

label {
    display: block;
}

.submit_btn {
    display: block;
    margin: 0 auto;
    width: 20%;
}

input, textarea {
    border: 2px solid #d4a867;
    width: 25%;
}

input {
    height: 20px;
}

@media screen and (max-width: 620px){
    input, textarea {
        width: 50%;
    }
}