footer {
    background-color: #EEEEEE;
}

.copyright {
    text-align: center;
}

.footer_h {
    text-align: center;
    padding-bottom: 50px;
    color: #d4a867;
}

form {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
}

label {
    display: block;
}

.submit_btn {
    display: block;
    margin: 0 auto;
}

input, textarea {
    border: 2px solid #d4a867;
}

textarea {
    padding: 50px;
}