*{
    padding: 0;
    margin: 0;
    }

.header_img {
    background: url('../../macbook.png') no-repeat center center;
    height: auto;
    width: 100%;
    background-size: cover;
    -webkitz- background-size: cover;
    -o- background-size: cover;
    -moz- background-size: cover;
    }

.name_container {
    text-align: center;
    padding-top: 180px;
}

.header_name {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
    font-size: 3em;
}

.name_border {
    border: 5px solid #fff;
    padding: 0.9em 0.8em;
}

.kicker {
    text-align: center;
    color: #fff;
}

/*-------- NAV ----------*/

nav ul li {
    display: inline-block;
}

a {
    color: #fff;
}

li a {
    margin-left: 10px;
    list-style-type: none;
    text-decoration: none;
}


@media screen and (max-width: 620px){
    
    .header_name {
        font-size: 2em;    
    }
    
    nav {
        display:none;
    }
}